.con-banner-con-banner {
  width: 100%;
  height: 70px;
  display: flex;
  opacity: inherit;
  z-index: 100;
  position: fixed;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
.con-banner-container1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.con-banner-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.con-banner-icon1 {
  width: 24px;
  height: 24px;
  align-self: center;
}
.con-banner-link1 {
  align-self: center;
  padding-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.con-banner-text1 {
  align-self: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.con-banner-link2 {
  font-size: 16px;
  align-self: center;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.con-banner-container3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.con-banner-icon3 {
  width: 24px;
  height: 24px;
  align-self: center;
}
.con-banner-text4 {
  align-self: center;
}



@media(max-width: 991px) {
  .con-banner-icon1 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .con-banner-con-banner {
    height: fit-content;
  }
  .con-banner-icon1 {
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .con-banner-link1 {
    align-self: center;
  }
  .con-banner-icon3 {
    align-self: center;
  }
  .con-bannerroot-class-name2 {
    height: fit-content;
  }
}
